models/gross.joblib
Practice/
.vscode/
venv/
neural_net.ipynb
KNN.ipynb
ISProject.ipynb
gross_random_forest.ipynb
PipelineTest.ipynb
RandomForest.ipynb
SVM.ipynb
vectorised_random_forest.ipynb
test.py
Ridge.joblib
__pycache__/